.background-cirkels-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2097px;
  height: 1504px;
}

.hly4 {
  color: var(--color-gold);
}
.b2 {
  font-family: var(--font-inter);
}
.wishly2 {
  position: absolute;
  top: 0;
  left: 0;
}
.about2,
.contact2,
.contact2,
.login-page-child {
  position: absolute;
  top: 243px;
  left: 278px;
  border-radius: var(--br-6xl);
  background-color: var(--color-cornflowerblue);
  width: 885px;
  height: 653px;
}
.dont-have-a,
.login-page-item {
  position: absolute;
  top: 815.99px;
  left: 565px;
  width: 228px;
  height: 3px;
}
.dont-have-a {
  top: 756px;
  letter-spacing: 0.02em;
  color: var(--color-gainsboro-200);
  display: inline-block;
  width: 311px;
  height: 106px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.sign-up-button-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-gold);
  width: 393px;
  height: 111px;
}
.login3 {
  position: absolute;
  top: 30px;
  left: 128px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.email1,
.sign-up-button3 {
  position: absolute;
  text-align: center;
}
.sign-up-button3 {
  top: 608px;
  left: 524px;
  width: 393px;
  height: 111px;
  font-size: var(--font-size-21xl);
}
.email1 {
  top: 14px;
  left: 0;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.03em;
  text-transform: capitalize;
  font-family: var(--font-outfit);
  color: var(--color-white);
}
.email,
.email-child {
  position: absolute;
  height: 67px;
}
.email-child {
  top: 0;
  left: 181px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  width: 360px;
}
.email {
  top: 333px;
  left: 450px;
  width: 541px;
}
.password1 {
  position: absolute;
  top: 14px;
  left: 0;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}
.password,
.password-child {
  position: absolute;
  height: 67px;
}
.password-child {
  top: 0;
  left: 182px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  width: 360px;
}
.password {
  top: 437px;
  left: 450px;
  width: 542px;
  text-align: center;
  font-size: var(--font-size-11xl);
}
.top-header-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  width: 885px;
  height: 114px;
}
.wishly-login {
  position: absolute;
  top: 19px;
  left: 178px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  display: inline-block;
  width: 528px;
}
.top-header1 {
  position: absolute;
  top: 129px;
  left: 278px;
  width: 885px;
  height: 114px;
  text-align: center;
  font-size: var(--font-size-41xl);
}
.sign-up3 {
  position: absolute;
  top: 49px;
  left: 933px;
}
.login-page {
  position: relative;
  background-color: var(--color-midnightblue);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-outfit);
}
