.background-cirkels-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2097px;
  height: 1504px;
}
.hly6 {
  color: var(--color-gold);
}
.b3 {
  font-family: var(--font-inter);
}
.about3,
.wishly3 {
  position: absolute;
  text-decoration: #D6BA00;
  top: 0;
  left: 0;
}
.about3 {
  left: 885px;
  text-decoration: none!important;
}
.contact3,
.login4,
.nav-bar3 {
  position: absolute;
  text-decoration: none!important;
  top: 0;
  left: 998px;
}
.login4,
.nav-bar3 {
  left: 779px;
  text-decoration: none!important;
}
.nav-bar3 {
  top: 49px;
  left: 180px;
  width: 1088px;
  height: 32px;
  text-align: left;
  font-size: var(--font-size-6xl);
}
.registration-page-child {
  position: absolute;
  top: 243px;
  left: 278px;
  border-radius: var(--br-6xl);
  background-color: var(--color-cornflowerblue);
  width: 885px;
  height: 653px;
}
.registration-page-item {
  position: absolute;
  top: 818px;
  left: 564px;
  border-top: 2px solid rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  width: 202px;
  height: 2px;
}
.lready-have-a {
  text-transform: lowercase;
}
.already-have-a-container {
  position: absolute;
  top: 756px;
  left: 565px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.02em;
  color: var(--color-gainsboro-200);
  text-align: left;
  display: inline-block;
  width: 311px;
  height: 106px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.sign-me-up {
  position: absolute;
  top: 30px;
  left: 69px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.sign-up-button4 {
  position: absolute;
  top: 608px;
  left: 524px;
  border-radius: var(--br-31xl);
  background-color: var(--color-gold);
  width: 393px;
  height: 111px;
  text-align: left;
  font-size: var(--font-size-21xl);
}
.name {
  position: absolute;
  top: 14px;
  left: 0;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}
.email-input,
.name-input {
  position: absolute;
  top: 276px;
  left: 450px;
  width: 542px;
  height: 67px;
}
.email-input {
  border: 0;
  background-color: var(--color-gainsboro-100);
  top: 0;
  left: 181px;
  border-radius: var(--br-3xs);
  width: 360px;
}
.email2 {
  top: 380px;
  left: 450px;
  width: 541px;
}
.email2,
.password-input,
.password2 {
  position: absolute;
  height: 67px;
}
.password-input {
  border: 0;
  background-color: var(--color-gainsboro-100);
  top: 0;
  left: 182px;
  border-radius: var(--br-3xs);
  width: 360px;
}
.password2 {
  top: 484px;
  left: 450px;
  width: 542px;
}
.top-header-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  width: 885px;
  height: 114px;
}
.wishly-sign-up-container {
  position: absolute;
  top: 19px;
  left: 204px;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  display: inline-block;
  width: 477px;
}
.top-header2 {
  position: absolute;
  top: 129px;
  left: 278px;
  width: 885px;
  height: 114px;
  font-size: var(--font-size-41xl);
}
.registration-page {
  position: relative;
  background-color: var(--color-midnightblue);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-outfit);
}
