<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="stylesheet" href="css/global.css" type="text/css"/>
  <link rel="stylesheet" href="css/About.css" type="text/css"/>
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap"
  />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
  />
</head>
<body>
<div class="about2">
  <img
          class="background-cirkels-icon2"
          alt=""
          src="css/public/background-cirkels2.svg"
  />
  <div class="nav-bar2">
    <div class="wishly2">
      <b><span>Wish</span><span class="ly2">ly</span></b
      ><b class="b2"> </b>
    </div>
    <div class="home1">Home</div>
    <div class="contact2">Contact</div>
    <a class="sign-up4" href="./RegistrationPage.html">Sign Up</a
    ><a class="login3" href="./LoginPage.html">Login</a>
  </div>
  <div class="hero-section2">
    <b class="about-wishly"
    ><span>About Wish</span><span class="ly2">ly</span></b
    >
    <div class="wishly-is-an-container">
      <p class="wishly-is-an">
        Wishly is an online digital wishlist that you can share with friends
        and family.
      </p>
      <p class="wishly-is-an">&nbsp;</p>
      <p class="wishly-is-an">
        Wishly was created as a computer science project but ended up being
        the best product on the market outcompeting big sites like
        Ønskeskyen.
      </p>
    </div>
  </div>
  <b class="the-wishly-proces-container"
  ><span>The Wish</span><span class="ly2">ly </span><span>Proces</span></b
  >
  <div class="sign-up5">Sign up</div>
  <div class="create-wishlist1">Create wishlist</div>
  <div class="add-wishes1">add wishes</div>
  <div class="share-it1">Share it</div>
  <img class="about-child" alt="" src="css/public/arrow-1.svg" /><img
        class="about-item"
        alt=""
        src="css/public/arrow-1.svg"
/><img class="about-inner" alt="" src="css/public/arrow-1.svg" />
</div>
</body>
</html>
