<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <meta name="viewport" content="width=device-width"/>
  <link rel="stylesheet" href="css/global.css" type="text/css"/>
  <link rel="stylesheet" href="css/index.css" type="text/css"/>
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap"
  />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
  />
</head>
<body style="background-color: #0d0057">
<div class="homepage">
  <img
          src="css/public/background-cirkels.svg"
          style="position: relative; height: 1000px"
  />
  <div class="nav-bar">
    <div class="wishly">
      <b><span>Wish</span><span class="ly">ly</span></b
      ><b class="b"> </b>

    </div>

    <a class="about" style="" href="/about">About</a>
    <a class="sign-up" href="/register">Sign Up</a>
    <a class="login" href="/loginPage">Login</a>
  </div>

  <div class="hero-section">
    <b class="welcome-to-wishly-container"
    ><span>Contact Wish</span><span class="ly">ly</span></b
    >
    <div class="create-your-own">
      If you wish to contact us. I'm not sure that is possible, but you can
      try here. <br>

      Email: Thisemaildoesnotexsist@wishly.com <br>
      Phone Number: 70 24 12 07 <br>

      Find us on <a href="https://github.com/kea-classrooms/miniproject-kodeklubben" style="text-decoration: none"><b>GitHub</b></a>
    </div>
    <div>

    </div>
  </div>
</div>


</body>
</html>
