<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="stylesheet" href="./global.css" />
  <link rel="stylesheet" href="./Contact.css" />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap"
  />
  <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
  />
</head>
<body>
<div class="contact1">
  <img
          class="background-cirkels-icon1"
          alt=""
          src="./public/background-cirkels1.svg"
  />
  <div class="nav-bar1">
    <div class="wishly1">
      <b><span>Wish</span><span class="ly">ly</span></b
      ><b class="b1"> </b>
    </div>
    <div class="about1">About</div>
    <div class="home">Home</div>
    <a class="sign-up3" href="./RegistrationPage.html">Sign Up</a
    ><a class="login2" href="./LoginPage.html">Login</a>
  </div>
  <div class="hero-section1">
    <b class="contact-wishly"
    ><span>Contact Wish</span><span class="ly">ly</span></b
    >
    <div class="if-you-wish-container">
      <p class="if-you-wish">
        If you wish to contact us. I'm not sure that is possible but you can
        try here.
      </p>
      <p class="if-you-wish">&nbsp;</p>
      <p class="if-you-wish">Email: Thisemaildoesnotexsist@wishly.com</p>
      <p class="if-you-wish">Phone Number: 70 24 12 07</p>
      <p class="if-you-wish">&nbsp;</p>
      <p class="if-you-wish">Find us on GitHub:</p>
      <p class="if-you-wish">
        https://github.com/kea-classrooms/miniproject-kodeklubben
      </p>
    </div>
  </div>
</div>
</body>
</html>
