<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="stylesheet" href="css/newGlobal.css" type="text/css"/>
  <link rel="stylesheet" href="css/about.css" type="text/css"/>
</head>
<body>
<div class="container">
  <div class="nav-bar">
    <div class="nav-bar-item">
      <a href="./"><b style="margin: 0; font-size: 32px">
        <span>Wish</span>
        <span class="gold">ly</span>
      </b>
        <b class="b"></b></a>
    </div>
    <div class="nav-bar-right">
      <div><a class="nav-bar-item" href="/about", style="opacity: 0.67">About</a></div>
      <div><a class="nav-bar-item" href="/register">Sign Up</a></div>
      <div><a class="nav-bar-item" href="/login">Log in</a></div>
    </div>
  </div>
    <div style="height: 5vw"></div>
  <div class="content">
    <div class="text-box">
      <h1><span>Contact Wish</span><span class="gold">ly</span></h1>
      <div>
        <p class="wishly-is-an">
          If you wish to contact us. I'm not sure that is possible, but you can
          try here. <br>
          <br>

          Email: Thisemaildoesnotexsist@wishly.com <br>
          Phone Number: 70 24 12 07 <br>
          <br>
          Or Find us on <a href="https://github.com/kea-classrooms/miniproject-kodeklubben" style="text-decoration: none"><b>GitHub</b></a>
        </p>
      </div>
    </div>
    </div>
  </div>
</div>
</body>
</html>
