<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/CreateWishlistPage.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="create-wishlist-page">
      <img
        class="background-cirkels-icon1"
        alt=""
        src="../static/css/public/background-cirkels1.svg"
      />
      <div class="nav-bar1">
        <div class="wishly1">
          <b><span>Wis</span><span class="hly2">hly</span></b
          ><b class="b1"> </b>
        </div>
        <div class="about1">About</div>
        <div class="contact1">Contact</div>
        <div class="login2">Login</div>
      </div>
      <div class="create-wishlist-page-child"></div>
      <div class="top-header">
        <img class="top-header-child" alt="" src="../static/css/public/rectangle-5.svg" /><b
          class="wishly-create"
          ><span>Wis</span><span class="hly2">hly</span><span> create</span></b
        >
      </div>
      <div class="my-wishlists">My Wishlist's</div>
      <div class="birthday">
        <div class="birthday-child"></div>
        <div class="birthday-item"></div>
        <div class="birthday1">Birthday</div>
        <div class="wishes">4 wishes</div>
        <img class="image-1-icon" alt="" src="../static/css/public/image-1@2x.png" />
      </div>
      <div class="birthday2">
        <div class="birthday-child"></div>
        <div class="rectangle-div"></div>
        <div class="birthday1">Birthday</div>
        <div class="wishes">4 wishes</div>
        <img class="image-1-icon" alt="" src="../static/css/public/image-1@2x.png" />
      </div>
      <div class="christmas">
        <div class="birthday-child"></div>
        <div class="birthday-item"></div>
        <div class="birthday1">
          <p class="blank-line">Christmas</p>
          <p class="blank-line">&nbsp;</p>
        </div>
        <div class="wishes">8 wishes</div>
        <img class="image-2-icon" alt="" src="../static/css/public/image-2@2x.png" />
      </div>
      <div class="christmas3">
        <div class="birthday-child"></div>
        <div class="rectangle-div"></div>
        <div class="birthday1">
          <p class="blank-line">Christmas</p>
          <p class="blank-line">&nbsp;</p>
        </div>
        <div class="wishes">8 wishes</div>
        <img class="image-2-icon" alt="" src="../static/css/public/image-2@2x.png" />
      </div>
      <div class="show-all">Show all</div>
      <div class="sign-up-button2">
        <div class="property-1default">
          <div class="property-1default-child"></div>
          <div class="new-wishlist">New Wishlist</div>
        </div>
      </div>
    </div>
  </body>
</html>
