<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="stylesheet" href="css/newGlobal.css" type="text/css"/>
  <link rel="stylesheet" href="css/about.css" type="text/css"/>
</head>
<body>
<div class="container">
  <div class="nav-bar">
    <div class="nav-bar-item">
      <a href="./"><b style="margin: 0; font-size: 32px">
        <span>Wish</span>
        <span class="gold">ly</span>
      </b>
        <b class="b"></b></a>
    </div>
    <div class="nav-bar-right">
      <div><a class="nav-bar-item" href="/about", style="opacity: 0.67">About</a></div>
      <div><a class="nav-bar-item" href="/register">Sign Up</a></div>
      <div><a class="nav-bar-item" href="/login">Log in</a></div>
    </div>
  </div>
  <div style="height: 5vw"></div>
  <div class="content">
    <div class="text-box">
      <h1><span>Error Wish</span><span class="gold">ly</span></h1>
      <div>
        <p class="wishly-is-an">
          ERROR ERROR ERROR
          ERROR code 420 ERROR
          <br>

          <img style="padding-top: 5vh " class="computer-image" src="css/public/giphy.gif" alt="Wishlist Image">

        </p>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>
