<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="stylesheet" href="css/newGlobal.css" type="text/css"/>
  <link rel="stylesheet" href="css/index.css" type="text/css"/>
</head>
<body>
<div class="container">
  <div class="nav-bar">
    <div class="nav-bar-item">
      <a href="./"><b style="margin: 0; font-size: 32px">
        <span>Wish</span>
        <span class="gold">ly</span>
      </b>
        <b class="b"></b></a>
    </div>
    <div class="nav-bar-right">
      <div><a class="nav-bar-item" href="/about", style="opacity: 0.67">About</a></div>
      <div><a class="nav-bar-item" href="/contact">Contact</a></div>
      <div><a class="nav-bar-item" href="/register">Sign Up</a></div>
      <div><a class="nav-bar-item" href="/login">Log in</a></div>
    </div>
  </div>
  <div style="height: 5vw"></div>
  <div class="content">
    <div class="text-box">
      <h1><span>Welcome To Wish</span><span class="gold">ly</span></h1>
    </div>
    <div id="hero-section" class="clearfix">
        <div id="hero-text">
          <p>
            Create your own digital wishlist and share it with friends and family today!
          </p>
        </div>
        <div id="hero-img">
          <img class="computer-image" src="css/public/objectother-07@2x.png" alt="Wishlist Image">
        </div>
    </div>
  </div>
</div>

<a th:href="@{'/register'}">
  <div class="sign-up-button">
    <button class="sign-up1" autofocus id="signUp1">Sign Up</button>
  </div>
</a>

<a th:href="@{'/login'}">
  <div class="sign-up-button1">
    <button class="login1" autofocus id="login1" >Login</button>
  </div>
</a>



<script>
  var signUp1 = document.getElementById("signUp1");
  if (signUp1) {
    signUp1.addEventListener("click", function (e) {
      window.location.href = "register.html";
    });
  }

  var login1 = document.getElementById("login1");
  if (login1) {
    login1.addEventListener("click", function (e) {
      window.location.href = "login.html";
    });
  }
</script>



</body>
</html>
