<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="css/LoginPage.css" type="text/css"/>
    <link rel="stylesheet" href="css/global.css" type="text/css"/>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="login-page">
      <img
        class="background-cirkels-icon2"
        alt=""
        src="css/public/background-cirkels2.svg"
      />
      <div class="nav-bar2">
        <div class="wishly2">
          <b><span>Wish</span><span class="hly4">ly</span></b
          ><b class="b2"> </b>
        </div>
        <div class="about2">About</div>
        <div class="contact2">Contact</div>
      </div>
      <div class="login-page-child"></div>
      <img class="login-page-item" alt="" src="css/public/line-1.svg" />
      <div class="dont-have-a">Don’t have a account? Click here to sign up</div>
      <div class="sign-up-button3">
        <div class="sign-up-button-child"></div>
        <div class="login3">login</div>
      </div>
      <form class="email">
        <b class="email1">Email</b>
        <div class="email-child"></div>
      </form>
      <div class="password">
        <b class="password1">Password</b>
        <div class="password-child"></div>
      </div>
      <div class="top-header1">
        <img class="top-header-item" alt="" src="css/public/rectangle-51.svg" /><b
          class="wishly-login"
          ><span>Wish</span><span class="hly4">ly</span><span> login</span></b
        >
      </div>
      <div class="sign-up3">Sign Up</div>
    </div>
  </body>
</html>
