<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./RegistrationPage.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="registration-page">
      <img
        class="background-cirkels-icon3"
        alt=""
        src="./public/background-cirkels3.svg"
      />
      <div class="nav-bar3">
        <div class="wishly3">
          <b><span>Wis</span><span class="hly6">hly</span></b
          ><b class="b3"> </b>
        </div>
        <div class="about3">About</div>
        <div class="contact3">Contact</div>
        <div class="login4">Login</div>
      </div>
      <div class="registration-page-child"></div>
      <div class="registration-page-item"></div>
      <div class="already-have-a-container">
        A<span class="lready-have-a"
          >lready have a account? Click here to login
        </span>
      </div>
      <div class="sign-up-button4">
        <div class="sign-me-up">Sign me up</div>
      </div>
      <div class="name-input">
        <b class="name">Name</b><input class="password-input" type="text" />
      </div>
      <div class="email2">
        <b class="name">Email</b><input class="email-input" type="email" />
      </div>
      <div class="password2">
        <b class="name">Password</b
        ><input class="password-input" type="password" />
      </div>
      <div class="top-header2">
        <img
          class="top-header-inner"
          alt=""
          src="./public/rectangle-51.svg"
        /><b class="wishly-sign-up-container"
          ><span>Wis</span><span class="hly6">hly</span><span> sign up</span></b
        >
      </div>
    </div>
  </body>
</html>
