<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="css/global.css" type="text/css"/>
    <link rel="stylesheet" href="css/RegistrationPage.css" type="text/css"/>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="registration-page">
      <img
        class="background-cirkels-icon3"
        alt=""
        src="css/public/background-cirkels3.svg"
      />
      <div class="nav-bar3">
          <div class="wishly3">
            <a th:href="@{'/'}">
              <b><span>Wish</span><span class="hly6">ly</span></b>
              <b class="b3"> </b>
            </a>
          </div>
        <div class="about3">About</div>
        <div class="contact3">Contact</div>
        <a th:href="@{'/login'}">
          <div class="login4">Login</div>
        </a>
      </div>
      <div class="registration-page-child"></div>
      <div class="registration-page-item"></div>
      <a th:href="@{'/login'}">
        <div class="already-have-a-container">
          A<span class="lready-have-a"
            >lready have a account? Click here to login
          </span>
        </div>
      </a>
      <a th:href="@{'/SignUpSuccesful'}">
        <div class="sign-up-button4">
          <div class="sign-me-up">Sign me up</div>
        </div>
      </a>
      <div class="name-input">
        <b class="name">Name</b><input class="password-input" type="text" />
      </div>
      <div class="email2">
        <b class="name">Email</b><input class="email-input" type="email" />
      </div>
      <div class="password2">
        <b class="name">Password</b
        ><input class="password-input" type="password" />
      </div>
      <div class="top-header2">
        <img
          class="top-header-inner"
          alt=""
          src="css/public/rectangle-51.svg"
        /><b class="wishly-sign-up-container"
          ><span>Wish</span><span class="hly6">ly</span><span> sign up</span></b
        >
      </div>
    </div>
  </body>
</html>
