<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="css/newGlobal.css" type="text/css"/>
  </head>
  <body style="background-color: #0d0057">
    <div class="container">
      <div class="nav-bar">
        <div class="nav-bar-item">
          <a href="./">
            <b style="margin: 0; font-size: 32px"><span>Wish</span><span class="gold">ly</span></b>
          </a>
        </div>
        <div class="nav-bar-right">
          <div><a class="nav-bar-item" href="/about">About</a></div>
          <div><a class="nav-bar-item" href="/contact">Contact</a></div>
          <div><a class="nav-bar-item" href="/register"  style="opacity: 0.67">Sign Up</a></div>
          <div><a class="nav-bar-item" href="/login">Log in</a></div>
        </div>
      </div>
      <h1 style="padding-top: 50px">Sign up</h1>
      <div class="form">
        <form action="#" th:action="@{/register}" th:object="${userModel}" method="post">
          <div class="form-item">
            <b style="padding-right: 15px; padding-left: 32px">Name</b>
            <input type="text" th:field="${userModel.name}"/>
          </div>
          <div class="form-item">
            <b style="padding-right: 15px; padding-left: 32px">Email</b>
            <input type="email" th:field="${userModel.email}"/>
          </div>
          <div class="form-item">
            <b style="padding-right: 15px">Password</b>
            <input type="password" th:field="${userModel.password}"/>
          </div>
          <div>
            <button type="submit" class="button">
              <div class="login3">Sign Up</div>
            </button>
          </div>
          <a href="/login">Already have an account? Click here to login</a>
        </form>
      </div>
    </div>
  </body>
</html>
