<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wish List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-color: #212529">
<h1 style="color: whitesmoke; padding-left: 12px; padding-top: 24px" th:text="${wishList.getListName()}">Liste af alle ønsker</h1>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Ønske</th>
        <th scope="col">Link</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wish: ${wishList.getWishModelList()}">
        <td th:text="${wish.getName()}">Ønskenavn</td>
        <td><a th:href="${wish.getLink()}" th:text="${wish.getLink()}"></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>