<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wish List</title>
    <link rel="stylesheet" href="css/newGlobal.css" type="text/css"/>
    <link rel="stylesheet" href="css/profile.css" type="text/css"/>
</head>
<body style="background-color: #212529">
<h1 style="color: whitesmoke; padding-left: 12px; padding-top: 24px" th:text="${wishList.getListName()}">Liste af alle ønsker</h1>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">Ønske</th>
        <th scope="col">Link</th>
    </tr>
    </thead>
    <tbody>
    <thead style="width: 83vw">
    <tr>
        <th>Name</th>
        <th style="padding-left: 8vw">Link</th>
    </tr>
    </thead>
    <tr th:each="wish: ${wishList.getWishModelList()}">
        <td th:text="${wish.getName()}">Ønskenavn</td>
        <td><a th:href="${wish.getLink()}" th:text="${wish.getLink()}"></a></td>
    </tr>
    </tbody>
</table>
</body>
</html>